<?php
/**
 * Настройки для локального сервера.
 * Для использования - переименовать файл в config.local.php
 * Именно в этом файле необходимо переопределять все настройки конфига
 */

$config['db']['params']['host'] = 'localhost';
$config['db']['params']['port'] = '3306';
$config['db']['params']['user'] = 'root';
$config['db']['params']['pass'] = '23197';
$config['db']['params']['type']   = 'mysqli';
$config['db']['params']['dbname'] = 'fend';
$config['db']['table']['prefix'] = 'prefix_';

/**
 * Если необходимо установить движек в директорию(не корень сайта) то следует сделать так:
 * $config['path']['root']['web']    = 'http://'.$_SERVER['HTTP_HOST'].'/subdir';
 * и увеличить значение $config['path']['offset_request_url'] на число вложенных директорий,
 * например, для директории первой вложенности www.site.ru/livestreet/ поставить значение равное 1
 */
$config['path']['root']['web'] = 'http://fend.loc';
$config['path']['offset_request_url'] = 0;

$config['module']['validate']['recaptcha']= array(
	'site_key' => '6LcDGocUAAAAAEKAjOgEr-_6FJyHTUCmxQHCTUaU', // Ключ
	'secret_key' => '6LcDGocUAAAAAEfGJpZWrAj9p25ttQPUxqhO2BZg', // Секретный ключ
	'use_ip' => false, // Использовать при валидации IP адрес клиента
);

$config['module']['asset']['css']['merge'] = false;
$config['module']['asset']['js']['merge'] = false;

// Устанавливаем настройки кеширования
$config['sys']['cache']['use'] = false;               // использовать кеширование или нет
$config['sys']['cache']['type'] = 'file';             // тип кеширования: file, xcache и memory. memory использует мемкеш, xcache - использует XCache
$config['smarty']['force_compile'] = true;


return $config;